appdirs==1.4.4
asgiref==3.2.10
beautifulsoup4==4.9.1
distlib==0.3.1
Django==3.0.8
django-bootstrap4==2.2.0
django-crispy-forms==1.9.2
django-filter==2.3.0
django-tinymce==3.0.2
djangorestframework==3.11.0
filelock==3.0.12
Markdown==3.2.2
Pillow==7.2.0
pytz==2020.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
virtualenv==20.0.25
virtualenvwrapper-win==1.2.6
